services:
  - type: web
    name: clock-in-out-backend
    env: node
    buildCommand: cd backend && npm install
    startCommand: cd backend && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: FRONTEND_URL
        value: https://fullstack-time-tracker-app.onrender.com/
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_EMAIL
        value: admin@clockinout.com
      - key: ADMIN_PASSWORD
        sync: false
        # Set this to your desired admin password in Render dashboard

